{% extends "users/base_manage_password.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block manage_content %}
  <h1>{% trans "Change Password" %}</h1>
  <form method="post"
        action="{% url 'account_change_password' %}"
        class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
      <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% trans "Forgot Password?" %}</a>
    </div>
  </form>
{% endblock manage_content %}
